/*****  GAME ANIMATION ******/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-image{
  background-image: url(./img/Img_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  width: 80vw;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.ground{
  height: 150px;
  width: 50000%;
  
  background-image: url(./img/Img_02.png);
  position: absolute;
  bottom:0;
  
}
.car{
  position: absolute;
  bottom: 55px;
  left: 25%;
  
}


/* Animation */
@keyframes right {
  100%{
    transform: translate(-2000px);
  }
}

@keyframes swing {
  0%{
    transform: translateY(-1px);
  }
  50%{
    transform: translateY(0px);

  }
  100%{
    transform: translateY(1px);
  }

}
@keyframes jump {
  0%{
    transform: translateY(-1px);
  }
  40%{
    transform: translateY(-50px) rotate(-10deg);

  }
  100%{
    transform: translateY(1px);
  }
  
}



.right{
  animation: right 7s linear infinite;
}

.swing{
  animation: swing 0.8s linear infinite;
}
.jump{
  animation:jump 1s linear 1;
}